@{
    ViewData["Title"] = "О нас";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Высказывания нашего лидера.</p>
<span>
    «...Наша страна неоднократно доказывала, что способна
    осуществлять масштабные проекты.
    Такие успехи всегда рождали настоящий национальный подъем,
    умножали созидательные силы и творческий потенциал народа.
    Сегодня нас объединяет общее стремление построить динамичную,
    процветающую, благополучную страну,
    которую уважают в мире и которая открыта
    для равноправного и конструктивного диалога».

    В. Путин
</span>
