@{
    ViewData["Title"] = "Наши контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    GirsolSoft ltd <br />
    МО г. Ивантеевка ул. 3-ей Пятилетки д.1<br />
    <abbr title="Phone">тел:</abbr>
    +7(901) 722-99-58
</address>

<address>
    <strong>Тех. поддержка:</strong> <a href="solomonov.lesha@yandex.ru">solomonov.lesha@yandex.ru</a><br />
</address>

